 <div>
   <%= render :partial => @micropost %>
 </div>
 <div class="container">
   <section>
     <%= render 'comment' %>
   </section>
 </div>

 <%= form_for [@micropost, Comment.new] do |f| %>
        <p>
                <%= f.text_area :content, placeholder: "Compose new comment..."  %>
        </p>
        <p><%= f.submit "Add comment" %></p>
<% end %>

